<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
        <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <%- include('../partials/header', {title: "FAQ"})  %>
    <main>
        <h3>Why do i need to give you my data like county and age?</h3>
        <%  /* ChatGPT.ask("Generate responce for 'Why do i need to give you my data like county and age' for site that dont need this") */ %>
        <br/>
        <p>For statistic data that we will totaly use.</p>
        <br>
        <h3>Why does page refresh every time i click to add points?</h3>
        <br/>
        <p>To ensure that your points are properly counted and you dont lose points.</p>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>